#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

#content > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(200, 200, 200);
    padding: 40px;
    gap: 20px;
    margin-top: 50px;
    min-width: 320px;
    max-width: 720px;
    width: 80%;
    border-radius: 8px;

}

#content > form > label {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#content > form > label > input, #content > form > label > textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
#content > form > label > textarea {
    height: 300px;
}
#content > form > label > span {
    margin-top: 5px;
    color: #e9031d
}
#content > form > button {
    background-color: #CF0018;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    max-width: 320px;
    width: 100%;
    margin-top: 20px;
}

